
@use 'bootstrap' as *;

.btn-invisible {
  &:hover,
  &:active,
  &:focus {
    background-color: var(--#{$prefix}body-bg);
  }
}

.dropdown-menu {
    min-width: 16rem;
}

.dropdown-item {
    padding: $p-1/2 $p-1;
}

article, div {
    img {
        object-fit: cover;
    }
}

main .nav-item {
    padding: 0 $p-1;
}

section {
    input:hover{
        cursor: pointer;
    }
}

.trends li a {
    color: #89e5fc;
    text-decoration: underline #51dcff;;
}

@include media-breakpoint-down(md) {
    .container {
        padding: 0 1.25rem;
   }
}

@include media-breakpoint-down(lg) {
    .trends, .sidebar {
        display: none;
    }
    .container {
        padding: 0 1.75rem;
    }
}
