$primary: #36cbf1;
$color-light: #dee2e6e6;
$color-dark: #1e2328;

$p-1: 1.25rem;

//card config
$card-border-radius: 1rem;

//input config
$input-border-radius: .75rem;
$input-border-radius-sm: .75rem;
$input-border-radius-lg: .75rem;

//button config
$btn-border-radius: 9999px;

//shadow config
$box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.068);