$blue:        #0d6efd;
$indigo:      #6610f2;
$purple:      #6f42c1;
$pink:        #d63384;
$red:         #dc3545;
$orange:      #fd7e14;
$yellow:      #ffc107;
$green:       #198754;
$teal:        #20c997;
$cyan:        #36cbf1;

$white:       #fff;
$gray-100:    #f8f9fa;
$gray-200:    #e9ecef;
$gray-300:    #dee2e6;
$gray-400:    #ced4da;
$gray-500:    #adb5bd;
$gray-600:    #6c757d;
$gray-700:    #495057;
$gray-800:    #343a40;
$gray-900:    #1e2328;
$black:       #000;

$primary: #36cbf1;
$color-light: #dee2e6e6;
$color-dark: #1e2328;

$p-1: 1.25rem;

//card config
$card-border-radius: 1rem;

//input config
$input-border-radius: .75rem;
$input-border-radius-sm: .75rem;
$input-border-radius-lg: .75rem;

//button config
$btn-border-radius: 9999px;

//shadow config
$box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.068);

//background color config
$body-bg: #e9ecef;
$body-bg-dark: #1e2328;

